* {
  font-family: Cinzel;
  color: #10222B;
}

body {
  margin: 0 auto;
  padding: 15px;
  max-width: 90%;
  background-color: #E2F0D6;

}

main {
  max-width: 80%;
  background-color: #BDD684;


}

table {
  max-width: 90%;
  font-size: 60%;
  padding: 20px;
  border-spacing: 10px;
  background-color: #95AB63;
  margin: auto;
}

td {
  text-align: right;
}

thead tr td{
  border-bottom: 1px;
}

form {
  max-width:700px;
}

form input {

}

.text {
  max-width: 95%;
  margin: auto;
  text-align: center;
}

.button {
  margin: auto;
  text-align: center;
}

#intro {
  text-align: left;
}
