* {
  font-family: 'Roboto Condensed', sans-serif;
  color: #10222B;
}

body {
  margin: 0 auto;
  padding: 15px;
  max-width: 90%;
  background-color: #95AB63;
}

main {
  max-width: 80%;
  background-color: #BDD684;
  border: solid;
  border-color: #E2F0D6;
}

table {
  max-width: 95%;
  font-size: 80%;
  padding: 5;
  border-spacing: 5px;
  margin: auto;
  border-color: #E2F0D6;
  border-style: solid;
  background-color: #F6FFE0;
}

td {
  text-align: right;
}

thead tr td{
  border-bottom: 1px;
}

form {
  max-width: 45%;
  margin: auto;
}

form input {
}

.text {
  max-width: 95%;
  margin: auto;
  text-align: center;
}

.button {
  margin: auto;
  text-align: center;
}

.formSet {
  display:flex;
  justify-content: space-between;
}

#intro {
  text-align: left;
  max-width: 70%;
}
