html {
  font-family: 'Roboto Condensed', sans-serif;
  color: #10222B;
}

body {
  margin: 0 auto;
  min-height: 300%;
  background-color: #95AB63;
}

a {
  text-decoration: none;
  color: #F6FFE0;
}

header {
  background-color: #10222B;
  color: #F6FFE0;
  margin: auto;
  max-width:80%;
  border-color: #E2F0D6;
  border-style: solid;
  display: flex;
  border-collapse: collapse;
  justify-content: space-between;
  align-items: flex-end;
}

footer {
  background-color: #10222B;
  color: #F6FFE0;
  margin: auto;
  max-width:80%;
  border-color: #E2F0D6;
  border-style: solid;
  min-height: 50px;
}

main {
  margin: auto;
  margin-top: -1px;
  margin-bottom: -1px;
  max-width: 80%;
  background-color: #BDD684;
  border: solid;
  border-color: #E2F0D6;
  border-style: solid;
  border-collapse: collapse;
}

table {
  max-width: 95%;
  font-size: 80%;
  border-spacing: 10px;
  margin: auto;
  margin-top: 10px;
  border-color: #E2F0D6;
  border-style: solid;
  background-color: #F6FFE0;
}

td {
  text-align: right;
  padding: 0 5px 0 5px;

}

thead tr td{
  border-bottom: 1px;
}

form {
  max-width: 45%;
  margin: auto;
  margin-top: 15px;
  font-size: 80%;
}

form input {
}

.container {

}

.text {
  max-width: 95%;
  margin: auto;
  text-align: center;
}

.button {
  margin: auto;
  text-align: center;
  position: relative;
  top: 2px;
  font-size: 80%;
}

.formSet {
  display: flex;
  justify-content: space-between;
}

.topNav {
  display:inline-block;
  margin-right: 15px;
}

.legend {
  font-size: 80%;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
  top: -30px;
}

#intro {
  text-align: left;
  max-width: 70%;
  font-size: 90%;
}

#heading {
  font-size: 150%;
  margin-top: 10px;

}


#logo {
  display: block;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  margin-bottom: -1px;
  margin-left: -1px;
}

#chartBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chartHeading {
  display: flex;
  justify-content: center;
  margin: auto;
}


#rightChart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myChart {
  display: block;
  margin-top: 15px;

}

#stupidInvisibleBox {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
  border: solid;
  visibility: hidden;
}

#leftLegend {
  text-align: right;
  display: block;
  margin: auto;
  position: relative;
  top: -155px;
}


