* {
  font-family: 'Roboto Condensed', sans-serif;
  color: #10222B;
}

body {
  margin: 0 auto;
  min-height: 300%;
  background-color: #95AB63;
}

header {
  margin: auto;
  max-width:80%;
  border-color: #E2F0D6;
  border-style: solid;
  background-color: #F6FFE0;
  display: flex;
  border-collapse: collapse;
  justify-content: space-between;
  align-items: flex-end;
}

main {
  margin: auto;
  max-width: 80%;
  background-color: #BDD684;
  border: solid;
  border-color: #E2F0D6;
  border-style: solid;
  border-collapse: collapse;
}

table {
  max-width: 95%;
  font-size: 80%;
  border-spacing: 10px;
  margin: auto;
  margin-top: 10px;
  border-color: #E2F0D6;
  border-style: solid;
  background-color: #F6FFE0;
}

td {
  text-align: right;
  padding: 0 5px 0 5px;

}

thead tr td{
  border-bottom: 1px;
}

form {
  max-width: 45%;
  margin: auto;
  margin-top: 15px;
  font-size: 80%;
}

form input {
}

.container {

}

.text {
  max-width: 95%;
  margin: auto;
  text-align: center;
}

.button {
  margin: auto;
  text-align: center;
  position: relative;
  top: 2px;
  font-size: 80%;
}

.formSet {
  display:flex;
  justify-content: space-between;
}

.topNav {
  display:inline-block;
}

#intro {
  text-align: left;
  max-width: 70%;
  font-size: 90%;

}

#heading {
  font-size: 150%;
}

#logo {
  max-height: 100px;
}
